#photo {
    width: 70px
}

header {
    display: flex;
}

p {
    width: 960px;
    font-size-adjust: 0.5;
}

.small {
    width: 150px;
    /*display: flex;
    justify-content: center;*/
}

.sae>div {
    display: flex;
    
    /*flex-direction: column;
    justify-content: center;*/
}

.sae p {
    width: 160px;
    font-size-adjust: 0.4;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sae {
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border : solid 2px;
    border-radius: 10px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

.sem {
    display: flex;
}

h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    align-self: flex-start;
    justify-self: flex-start;
}
