/*couleur de fond*/
body {
    background-color: #fff9f4;
}


/*En-tête présente sur chaque page*/
/*logo site*/
div#lnTitre img {
    height: 60px;
    align-self: center;
    margin-right: 10px;
}
/*logo réseaux sociaux*/
div#réseaux img {
    width: 50px;
    height: 50px;
}
/*Conteneur principal de l'en-tête*/
div#lnTitre {
    background-color: #6CCeFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid;
    border-bottom: solid;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -10px;
    margin-right: -10px;
}
/*éléments à gauche de l'en-tête*/
div#lnTitre div {
    display: flex;
}
/*Titre principal*/
#lnTitre h1 {
    font-size: 2.1rem;
    border-left: solid 3px;
    margin: 0;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/*conteneur des logos des réseaux sociaux*/
#lnTitre+div {
    display: flex;
    justify-content: space-between;
}
/*Menu de navigation*/
nav {
    display: flex;
    flex: fit-content;
}

ul {
    display: flex;
    margin-top: 0;
    align-items: flex-end;
    flex: fit-content;
    justify-content: space-around;
    margin-left: 20vw;
}

a {
    text-decoration: none;
    color: black;
}

li {
    background-color: #6CCeFF;
    list-style-type: none;
    width: 150px;
    text-align: center;
}

li:has(.déroulant) {
    display: flex;
    flex-direction: column;
    position: relative;
}
/*contenu menu déroulant*/
.déroulant {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    padding: 0;
    margin: 0;

}

.déroulant li {
    background-color: #b4e6ff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: dashed 1px;
    border-top: none;

}

li>p {
    margin: 0;
}
/*Activation du menu déroulant*/
li:hover>.déroulant {
    display: block;
}

li:hover {
    background-color: #41c0ff;
    cursor: pointer;
    transition: 100ms;
}

h2 {
    background-color: #eeeeee;
    border-top: solid 2px;
    border-bottom: solid 2px;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

p {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: larger;
}

@media screen and (max-width:1110px) {
    h1 {
        display: block;
        text-align: center;
    }

    div#lnTitre {
        flex-direction: column;
    }

    #lnTitre>div {
        order: 0;
        flex-direction: row;
    }

    div#lnTitre img {
        right: 20px;
    }

    #lnTitre .formulaire {
        order: 1;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }



    #lnTitre h1 {
        border-left: none;
    }

    nav>ul li {
        margin-bottom: 10px;
        border: solid 2px;
    }

    .déroulant li {
        margin-bottom: 0px
    }

}